.charts-container {
  margin-top: 20px;
}

.chart-box {
  background: #111;
  padding: 25px;
  margin-bottom: 40px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.1);
}

.chart-box h2 {
  margin-bottom: 20px;
}

.chart-row {
  display: flex;
  gap: 30px;
}

.chart-box.small {
  width: 50%;
}
