.sidebar {
  width: 220px;
  background-color: #0d0d0d;
  color: white;
  height: 100vh;
  padding: 20px;
  position: fixed;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: #bbb;
  text-decoration: none;
  font-size: 18px;
}

.sidebar ul li a:hover {
  color: white;
}

.content {
  margin-left: 240px;
  padding: 20px;
  width: calc(100% - 240px);
}
